[joy]
dev_mode = 1
ap_ssid = ESP32-S3-JOY
ap_password =
ap_channel = 1
ap_max_clients = 4
ap_ip = 192.168.4.1
ap_gateway = 192.168.4.1
ap_subnet = 255.255.255.0
wifi_ssid = WIFI_NAME
wifi_password = WIFI_PASS
wifi_connect_timeout_ms = 15000
ui_poll_ms = 200
analog_input_count = 2
analog_input_1_pin = 5
analog_input_2_pin = 6
analog_input_3_pin = -1
analog_input_4_pin = -1
analog_read_interval_ms = 20
analog_read_resolution_bits = 12
analog_samples_per_read = 4
ppm_channel_count = 8
ppm_output_pin = 4
ppm_frame_us = 22500
ppm_pulse_us = 300
ppm_min_sync_us = 4000
ppm_active_low = 0
status_led_enabled = 1
status_led_pin = 48
status_led_brightness = 255
